# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
aem_env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.pdm-build/
pdm.lock
.coverage
htmlcov/
.tox/
.nox/
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
.ruff_cache/

# IDE
.idea/
.vscode/
*.swp
*.swo
*.swn
*.bak
*.tmp
*.temp
.project
.pydevproject
.settings/

# System
.DS_Store
Thumbs.db
desktop.ini
**/.DS_Store

# Project specific
questions.json
*.log
*.html
debug/
temp/
cache/
docs/_build/
docs/api/
docs/_static/
docs/_templates/

# Test specific
tests/resources/
tests/unit/__pycache__/
tests/integration/__pycache__/
